@media screen and (max-width: 1169px) and (min-width: 992px) {
    body {
        color: white;
        background-image: url(images/man-2.jpg);
        font-family: verdana;
        font-size: 1.5vw;
        background-size: cover;
        background-repeat: no-repeat;
		text-align: right;
		margin: 20px;

    }
	

}

@media screen and (max-width: 991px) {
    body {
        color: white;
        background-image: url(images/man-1.jpg);
        font-family: verdana;
        font-size: 2vw;
        color: black;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 300px;
		text-align: bottom;
      


    }

}
